.details-wrapper {
  position: relative;
  overflow: visible;

  background-image: url('/src/assets/estate.png.webp');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 50px;

  @media (max-width: 768px) {
    padding-top: 30px;
  }
  .details {
    height: auto;
    width: 100%;
    max-width: 460px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    bottom: -10px;

    @media (max-width: 768px) {
      bottom: -8px;
    }
  }

  .cloud {
    position: absolute;
    max-width: 250px;
    pointer-events: none;
    z-index: 10;
    filter: blur(0.5px);
    will-change: transform; // 🔥 Оптимизация для плавной анимации
  }

  .cloud-1 {
    top:0;
    left: 0; // Начальная позиция (до начала анимации x)
  }
  .cloud-2 {
    max-width: 200px;
    top:0;
    left: 0;
  }

  @media (max-width: 768px) {
    .cloud-1 {
      max-width: 230px;
    }
    .cloud-2 {
      max-width: 160px;
      top: 20%;
    }
  }
}