.timing-wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  overflow: visible;
}

.timing-image {
  height: auto;
  width: 95%;
  max-width: 380px;
  display: block;
  margin: -32px 17px auto;
  transform: translateX(-7px);
}

.car {
  position: absolute;
  width: 130px;
  max-width: 100%;
  z-index: 10;

  /* Стартовые позиции для ДЕСКТОПА */
  top: 85px;
  left: 150px;

  @media (max-width: 768px) {
    width: 90px;
    /* Стартовые позиции для МОБИЛЬНЫХ */
    top: 110px;
    left: 145px;
  }
}

.cloud {
  max-width: 70%;
  position: absolute;
  bottom: -50px;
  left: -80px;
  z-index: 5;
  opacity: 0.9;
  filter: blur(1px);

  @media (max-width: 768px) {
    max-width: 50%;
    bottom: -30px;
    left: -40px;
  }
}